<div class="container">
	<h2>Admin</h2>

	<!-- New post button -->
	<div class="form-group btn-toolbar">
		<a [routerLink]="['/post/create']" class="btn btn-primary">Create</a>
	</div>

	<div class="form-group">
		Search: <input type="text" id="search_post" [(ngModel)]="searchString" (keyup)="onSearch()">
	</div>

	<!-- Table -->
	<div class="row">
		<table *ngIf="totalItems" class="table table-hover table-condensed table-bordered">
			<thead>
			<tr>
				<th *ngFor="let c of columns" scope="col">
					<div *ngIf="c.isSortable" (click)="sortBy(c.key)" role="button">
						{{c.title}}
						<i *ngIf="query.sortBy === c.key && query.isSortAscending">+</i>
						<i *ngIf="query.sortBy === c.key && !query.isSortAscending">-</i>
					</div>
					<div *ngIf="!c.isSortable">{{c.title}}</div>
				</th>
				<th scope="col"> </th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let p of posts">
				<th scope="row">{{p.id}}</th>
				<td>{{p.title}}</td>
				<td>{{dateFormat(p.dateCreated)}}</td>
				<td>{{dateFormat(p.dateLastUpdated)}}</td>
				<td>
					<a [routerLink]="['/post/edit/', p.id]">Edit</a> |
					<a role="button" (click)="delete(p.id)">Delete</a> |
					<a [routerLink]="['/post/', p.id]">View</a>
				</td>
			</tr>
			</tbody>
		</table>
		<p *ngIf="!totalItems">{{infoMessage}}</p>
	</div>

	<!-- Pagination -->
	<app-pagination
		[total-items]="totalItems"
		[page-size]="query.pageSize"
		[current-page]="query.page"
		(page-changed)="onPagination($event)"
	></app-pagination>
</div>