<div class='navbar navbar-expand-lg navbar-light bg-light'>

	<button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse'
					aria-label="Toggle navigation" [attr.aria-expanded]='isExpanded' (click)='toggle()'>
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class='navbar-brand' [routerLink]='["/"]'>SimpleBlogAppV2</a>

	<div id="navbar" class='collapse navbar-collapse' [ngClass]='{ "in": isExpanded }'>
		<ul class='navbar-nav'>

			<li class='nav-item' [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
				<a class='nav-link' [routerLink]='["/"]' (click)='collapse()'>
					<span class='glyphicon glyphicon-home'></span> Home
				</a>
			</li>

			<li class='nav-item' [routerLinkActive]='["active"]'>
				<a class='nav-link' [routerLink]='["/admin"]' (click)='collapse()'>
					<span class='glyphicon glyphicon-th-list'></span> Admin
				</a>
			</li>

		</ul>
	</div>
</div>
