<h1>{{pageTitle}}</h1>

<form class="post-form" [formGroup]="viewModel.Form" (ngSubmit)="onSubmit()">
	<!-- Id -->
    <app-blog-text bName="postId" bLabel="Id:" bValue="{{id}}"></app-blog-text>

	<!-- Title -->
	<app-blog-input bName="title" bLabel="Title" [bViewModel]="viewModel"></app-blog-input>

	<!-- Short content -->
    <app-blog-textarea bName="shortContent" bLabel="Short content" [bViewModel]="viewModel" bRows="3"></app-blog-textarea>

	<!-- Content -->
    <app-blog-textarea bName="content" bLabel="Content" [bViewModel]="viewModel" bRows="5"></app-blog-textarea>

	<!-- Category -->
	<div class="form-group">
		<label for="category">category</label>
		<select id="category" class="form-control" formControlName="category">
			<option *ngFor="let c of categories" [ngValue]="c" [selected]="isCategorySelected(c)">{{c.name}}</option>
		</select>
	</div>

	<!-- Date created -->
	<div *ngIf="id" class="form-group row">
		<label for="dateCreated" class="col-sm-2 col-form-label">Created: </label>
		<div class="col-sm-10">
			<input id="dateCreated" type="text" readonly class="form-control-plaintext" value="{{dateFormat(viewModel.get('dateCreated'))}}">
		</div>
	</div>

	<!-- Buttons -->
	<div class="form-group btn-toolbar">
		<button type="submit" *ngIf="id" class="btn btn-primary" [disabled]="viewModel.Form.invalid">Save</button>
		<button type="submit" *ngIf="!id" class="btn btn-primary" [disabled]="viewModel.Form.invalid">Create</button>
		<button type="button" *ngIf="id" class="btn btn-danger" (click)="delete()">Delete</button>
		<a [routerLink]="['/admin']" class="btn btn-primary">Back</a>
	</div>

</form>