<div class="container">
	<h1 class="logo-text">Simple Blog App</h1>
</div>

<div class="container">
	<div class="row" *ngFor="let post of posts">
		<div class="container">

			<!-- Title -->
			<div>
				<h2>{{post.title}}</h2>
			</div>

			<!-- Date created -->
			<div>
				<p>{{post.dateCreated}}</p>
			</div>

			<!-- Date created -->
			<div>
				<p>{{post.shortContent}}</p>
			</div>

			<!-- Read -->
			<div class="read-full">
				<a [routerLink]="['/post/', post.id]">read >>></a>
			</div>

			----------------------------------------------------------------

		</div>
	</div>
</div>