<nav *ngIf="totalItems > pageSize">
	<ul class="pagination">

		<!-- Prev -->
		<li class="page-item" [class.disabled]="currentPage == 1">
			<a role="button" (click)="previous()" class="page-link" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>

		<!-- Page -->
		<li *ngFor="let page of pages" class="page-item" [class.active]="page == currentPage">
			<a role="button" (click)="changePage(page)" class="page-link">{{page}}</a>
		</li>

		<!-- Prev -->
		<li class="page-item" [class.disabled]="currentPage == pages.length">
			<a role="button" (click)="next()" class="page-link" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>

	</ul>
</nav>